streamlit==1.45.1

langchain==0.2.16
langchain-core==0.2.43
langchain-community==0.2.12
langchain-text-splitters==0.2.4
langchain-groq==0.1.6

faiss-cpu
sentence-transformers

pandas
numpy
scikit-learn

PyPDF2
pdfplumber
pypdfium2

matplotlib
seaborn
plotly
kaleido

python-dotenv
tqdm
reportlab